body{
    background-color: black;
    background-size: cover;
    background-position: center;
    background-size: cover;
    height: 115vh;
}
.user-content{
    color: aliceblue;
    position:center;
    font-size: 20px;
    color: #ff3333;
}
.logo-image{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    background: url(logo.jpg);
    background-size: cover;
}

